
/*
TODO: create a dark theme

html {
    filter: invert(1) hue-rotate(180deg);
}
html img{
    filter: invert(1) hue-rotate(180deg);
}

.background.container-fluid {
    filter: invert(1) hue-rotate(180deg);
}
*/